@import url('https://fonts.googleapis.com/css2?family= Roboto +Mono:wght@300 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #5baacab7;

}

.siteTodo{
  background-image: url(../img/fundo-bgsite.jpg);
  z-index: 1;
  background-size: cover;
}

.siteTodo .transparencia{
  background-color: #5baacab7;
}

a{
  text-decoration: none;
  color: black;
}



/* header */

.header{
  background-color: rgba(255, 255, 255, 0.705);

}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  height: 120px;
  
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header .logo #logo1{
    width:100%;
    height:95px;
    display: flex;
    margin-top: 1px;
    align-items: center;
    justify-content: center;
}


.header .menu #menu{
  width: 60px;
  height: 60px;
}

.menu_resp{
  background-color: rgba(255, 255, 255, 0.89); 
  margin-left: 1149px;
  top: 120px; 
  width: 200px; 
  height: 220px;
  float: none;
  font-weight: bold;
  position: absolute;
}

li{
  font-size: 22px;
  list-style: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  line-height: 42px;
}

/* fim do header */

/* inicio do banner */

.banner{
  display: flex;
  width: 500px;
  height:400px ;
  background: white; 
  margin-top: 100px;
  text-align: center;
  justify-content: center;
  margin-left: 150px;
  border-radius: 25px;
  position:static;
  
} 


.atalho_quiz ul li{
  list-style: none;
  flex-direction: column;
  display:flex;
  align-items: center;
  line-height: 65px;
}

.atalho_quiz h1{
  margin-top: 30px;
  width: 480px;
  
}

.atalho_quiz span {
  margin-top: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #292828;
}

.atalho_quiz button{
  background-color: #675097;
  width: 150px;
  height: 38px;
  border-radius: 20px;
  border: none;
  font-size: 21px;
}

.atalho_quiz button a{
  color: white;
}

.xaveco_img .xaveco{
  height:140px;
  width: auto; 
  float: right;
  display: flex;
  margin-left: 820px;
  justify-items: center;
  align-items: end;
  align-items: flex-end;
  position: absolute;
  margin-top: -180px;
}



.xaveco img{
  height: 300px;
  width: auto;
  /* border-radius: 200px; */
}

.card{
  margin-top: 100px;
  padding: 15px;
  background-color: #578596e0;
  width: 100%;
  height: 650px;
}

.gif{
  margin-left: 150px;
  width: auto; 
  float: left;
  display: flex;
  justify-items: center;
  margin-top: 50px;

}


.card span{
  color: white;
  font-size: 35px;
  margin-top: 215px;
  margin-left: 65px;
  float: right;
  line-height: 40px;
  text-align: justify;
  word-spacing: 8px;
  width: 550px;
  font-family: 'Roboto Mono', monospace;
  position: absolute;
}

/* inicio do footer */

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.footer .logo2 img{
  width: auto;
  height: 200px;
  margin-left: 80px;
}

