
 .quiz .fundo_form img{
    opacity: 0.2;
    margin-left: 285px;   
    position: static;
}

.quiz h1{
    position: absolute;
    margin-top:-650px;
    margin-left: 630px;
    font-size: 42px;
}

.quiz button{
  background-color: #732689;
  width: 145px;
  height: 42px;
  border-radius: 18px;
  border: none;
  font-size: 25px;
  color: white;
  margin-top:-280px;
  position: absolute;
  margin-left: 615px;
  font-family: 'Times New Roman', Times, serif;
}

.quiz #cadastro{
  margin-top: -220px;
}


.quiz .lista-perguntas{
  font-weight: bold;
  position: absolute;
  margin-top:-550px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-left: 500px;
}

.quiz .inpts {
  margin-top:-480px;
  line-height: 20px;
  position: absolute;
  margin-left: 530px;
  width: 300px;
  border-radius: 30px;
  border-color: purple;
  background-color: #dbb6d7;
  height: 40px;
  font-weight: bold;
}

.quiz .inptn {
  margin-top:-410px;
  line-height: 20px;
  position: absolute;
  margin-left: 530px;
  width: auto;
  border-radius: 30px;
  border-color: purple;
  background-color: #dbb6d7;
  height: 40px;
  font-weight: bold;
}

.quiz #inpt_email{
  margin-top:-540px;
  position: absolute;
  margin-left: 500px;
  width: 400px;
  border-radius: 30px;
  border-color: purple;
  background-color: #dbb6d7;
  height: 40px;
  font-weight: bold;
  display: flex;
  padding: 4px 8px;
}

.quiz #inpt_senha{
  margin-top:-410px;
  position: absolute;
  margin-left: 500px;
  width: 400px;
  border-radius: 30px;
  border-color: purple;
  background-color: #dbb6d7;
  height: 40px;
  font-weight: bold;
  display: flex;
  padding: 4px 8px;
}

.quiz #inpt_nome{
  margin-top:-525px;
  position: absolute;
  margin-left: 500px;
  width: 400px;
  border-radius: 30px;
  border-color: purple;
  background-color: #dbb6d7;
  height: 40px;
  font-weight: bold;
  display: flex;
  padding: 4px 8px;
}

.quiz #inpt_email2{
  margin-top:-410px;
  position: absolute;
  margin-left: 500px;
  width: 400px;
  border-radius: 30px;
  border-color: purple;
  background-color: #dbb6d7;
  height: 40px;
  font-weight: bold;
  display: flex;
  padding: 4px 8px;
}

.quiz #inpt_senha2{
  margin-top:-305px;
  position: absolute;
  margin-left: 500px;
  width: 400px;
  border-radius: 30px;
  border-color: purple;
  background-color: #dbb6d7;
  height: 40px;
  font-weight: bold;
  display: flex;
  padding: 4px 8px;
}

.quiz #email {
  position: absolute;
  margin-top:-580px;
  margin-left: 510px;
  font-weight: bold;
  font-size: 25px;
}

.quiz #senha{
  position: absolute;
  margin-top:-450px;
  margin-left: 510px;
  font-weight: bold;
  font-size: 25px;
}

.quiz #nome{
  position: absolute;
  margin-top:-565px; 
  margin-left: 510px;
  font-weight: bold;
  font-size: 25px;
}

.quiz #email2{
  position: absolute;
  margin-top:-450px;
  margin-left: 510px;
  font-weight: bold;
  font-size: 25px;
}

.quiz #senha2{
  position: absolute;
  margin-top:-340px;
  margin-left: 510px;
  font-weight: bold;
  font-size: 25px;
}

::placeholder{
 
  color: rgba(0, 0, 0, 0.808);
}

.quiz #cadastre{
  position: absolute;
  margin-top:-320px;
  margin-left: 550px;
  font-size: 20px;
}